/* ------------------------------------------------------------------------------------------------------------------ */
/* languageChooser */

#header-language-chooser {
    float: left;
    position: relative;
    z-index: 10;
    margin: 12px 0 0 0;
    font-size: 11px;
    line-height: 18px;
    color: #8e8682;
    text-transform: lowercase;
}

#header-language-chooser a {
    font-size: inherit;
    line-height: inherit;
    color: inherit;
}

#header-language-chooser .active {
    font-weight: 600;
}
